
<%- include('partials/header') %>

</div>


<!-- Main -->
<div class="container" style="margin-top: 100px;">
  <a href="/" class="btn btn-outline-secondary animation2" style="margin-bottom: 20px; margin-left: 4px;">GO BACK</a>
    <div class="row animation2">

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/pedal.jpg" alt="Card image cap">
          <div class="card-body"  style="text-align: center;">
            <h4 class="card-title">Ibanez Tube Screamer</h4>
            <p class="card-text">Price: $189</p>
            <a href="#" data-name="Ibanez-Tube-Screamer" data-price="189" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/amp.jpg" alt="Card image cap">
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title">Fender Champion 20W</h4>
            <p class="card-text">Price: $159</p>
            <a href="#" data-name="Fender-Champion-20W" data-price="159" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/pick.jpg" alt="Card image cap">
          <div class="card-body"  style="text-align: center;">
            <h4 class="card-title">Jazz III XL Picks (Set Of 6)</h4>
            <p class="card-text">Price: $12</p>
            <a href="#" data-name="Jazz-III-XL-Picks" data-price="12" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>


      


    </div>
</div>

  
 

<%- include('partials/footer') %>