
<%- include('partials/header') %>

</div>


<!-- Main -->
<div class="container" style="margin-top: 100px;">
  <a href="/" class="btn btn-outline-secondary animation2" style="margin-bottom: 20px; margin-left: 4px;">GO BACK</a>

    <div class="row animation2">

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/ac-fender.jpg" alt="Card image cap">
          <div class="card-body"  style="text-align: center;">
            <h4 class="card-title">Fender CP-60S</h4>
            <p class="card-text">Price: $289</p>
            <a href="#" data-name="Fender-CP-60S" data-price="289" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/ac-epiphone.jpg" alt="Card image cap">
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title">CORT AF510M</h4>
            <p class="card-text">Price: $199</p>
            <a href="#" data-name="CORT-AF510M" data-price="199" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/ac-taylor.jpg" alt="Card image cap">
          <div class="card-body"  style="text-align: center;">
            <h4 class="card-title">Taylor GS Mahogany</h4>
            <p class="card-text">Price: $1299</p>
            <a href="#" data-name="Taylor-GS-Mahogany" data-price="1299" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      

      


    </div>
</div>

  
 

<%- include('partials/footer') %>