
<%- include('partials/header') %>

</div>


<!-- Main -->
<div class="container" style="margin-top: 100px;">
  <a href="/" class="btn btn-outline-secondary animation2" style="margin-bottom: 20px; margin-left: 4px;">GO BACK</a>

    <div class="row animation2">

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/bass1.jpg" alt="Card image cap">
          <div class="card-body"  style="text-align: center;">
            <h4 class="card-title">Ibanez SR500E</h4>
            <p class="card-text">Price: $669</p>
            <a href="#" data-name="Ibanez-SR500E" data-price="669" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/bass2.jpg" alt="Card image cap">
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title">Epiphone Tobias IV</h4>
            <p class="card-text">Price: $349</p>
            <a href="#" data-name="Epiphone-Tobias-IV" data-price="349" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>  

    </div>
</div>

  
 

<%- include('partials/footer') %>