
<%- include('partials/header') %>

</div>


<!-- Main -->
<div class="container" style="margin-top: 100px;">
  <a href="/" class="btn btn-outline-secondary animation2" style="margin-bottom: 20px; margin-left: 4px;">GO BACK</a>

    <div class="row animation2">

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/eg-fender.jpg" alt="Card image cap">
          <div class="card-body"  style="text-align: center;">
            <h4 class="card-title">Fender Stratocaster</h4>
            <p class="card-text">Price: $899</p>
            <a href="#" data-name="Fender-Stratocaster" data-price="899" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/eg-ibanez.jpg" alt="Card image cap">
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title">Ibanez SA421</h4>
            <p class="card-text">Price: $439</p>
            <a href="#" data-name="Ibanez-SA421" data-price="439" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/eg-prs.jpg" alt="Card image cap">
          <div class="card-body"  style="text-align: center;">
            <h4 class="card-title">PRS Silver SKy</h4>
            <p class="card-text">Price: $1299</p>
            <a href="#" data-name="PRS-Silver-Sky" data-price="1299" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/eg-cort.jpg" alt="Card image cap">
          <div class="card-body"  style="text-align: center;">
            <h4 class="card-title">CORT CR-250</h4>
            <p class="card-text">Price: $429</p>
            <a href="#" data-name="CORT-CR-250" data-price="429" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/img/eg-telecaster.jpg" alt="Card image cap">
          <div class="card-body"  style="text-align: center;">
            <h4 class="card-title">Fender Telecaster</h4>
            <p class="card-text">Price: $929</p>
            <a href="#" data-name="Fender-Telecaster" data-price="929" class="add-to-cart btn btn-outline-info">Add to cart</a>
            <!-- <a href="#" class=" btn btn-outline-success">View Product</a> -->
          </div>
        </div>
      </div>

      


    </div>
</div>

  
 

<%- include('partials/footer') %>