<%- include('partials/header') %>



    <div class="row">
        <div class="col-lg-6 order-lg-1 order-2">
            <section class="landing-text animation1">
                <h1>Welcome to J-son Guitars</h1>
                <p>Go where the guitar takes you</p>
                <a href="/all-products"><button type="button" class="btn btn-outline-light">VIEW PRODUCTS</button></a>
            </section>
            
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
            <img class="animation1" src="/img/guy.jpg">
        </div>
    </div>
</div> 
<!--landing section ends here-------------------------------->

<!--featured products section--------------------------------  -->
    <div class="container featured-products">
        <h1 class="text-center">CHOOSE YOUR TYPE</h1>
        <hr class="text-center" style="width: 100px; margin-bottom: 0; margin-top: 20px;">
        <div class="row">
            <div class="col-6 small-screen-6-a">
                <a href="/electric-guitar"><img class="product1" src="/img/electric.jpg"></a>
                <div class="middle">
                    <!-- <div class="hover-text">Electric Guitar</div> -->
                </div>
            </div>
            <div class="col-6 small-screen-6-b">
                <a href="/acoustic-guitar"><img class="product2" src="/img/acoustic.jpg"></a>  
            </div>
        </div>
        <div class="row">
            <div class="col-5 small-screen-5">
                <a href="/bass-guitar"><img class="product3" src="/img/bass.jpg"></a>
            </div>
            <div class="col-7 small-screen-7" style="padding: 0;">
                <a href="/accessories"><img class="product4" src="/img/accessories.jpg"></a>
            </div>
        </div>
    </div>
    <!-- <hr style="margin-top: 50px;"> -->


<!-- brands section------------------------------------ -->

    <div class="container brand">
        <h1 class="text-center">OUR BRAND PARTNERS</h1>
        <hr class="text-center" style="width: 100px; margin-bottom: 0; margin-top: 20px;">
        <div class="row">
            <div class="col-12">
                <img src="/img/brand.png" style="width: 100%;">
            </div>
        </div>
    </div>

<%- include('partials/footer') %>